<div
  class="flex-row"
  style="border-bottom: 1px solid var(--surface-border); padding: 0.8em"
>
  <div class="flex-row" style="flex: 0.5; align-items: center">
    <span> Unknown Name </span>
  </div>
  <div
    class="flex-row"
    style="
      justify-content: flex-end;
      align-items: center;
      flex: 0.5;
      gap: 0.8em;
    "
  >
    <div>
      <span>
        <i class="fas fa-id-badge"></i>
      </span>
      <span> {{user?.level?.level}} </span>
    </div>
    <div>
      <span>
        <i class="fas fa-dollar"></i>
      </span>
      <span style="font-weight: 600">{{user?.cash ? user?.cash : '0'}}</span>
    </div>
    <span (click)="showEmail()">
      <i class="pi pi-envelope"></i>
    </span>
    <p-avatar
      [label]="user?.info.firstName.charAt(0) + user?.info.lastName.charAt(0)"
      shape="circle"
    ></p-avatar>
  </div>
</div>
