<div class="flex-column" style="padding: 0.8em; width: 65%">
  <div class="flex-row" style="gap: 0.8em">
    <div
      class="flex-row"
      style="
        padding: 2em;
        border: 1px solid var(--surface-border);
        border-radius: 4px;
      "
    >
      <i class="{{shopItem.icon}} fa-2x"></i>
    </div>
    <div class="flex-column" style="gap: 0.5em; flex: 1">
      <span style="font-size: x-large; font-weight: 600">
        {{shopItem.label}}
      </span>
      <p-tag
        value="MIT License"
        [style]="{'background-color':'var(--gray-500)'}"
      ></p-tag>
      <div>
        <p-rating
          [(ngModel)]="shopItem.data.rating"
          [cancel]="false"
          [readonly]="true"
        ></p-rating>
      </div>
    </div>
    <div
      class="flex-column"
      style="padding: 0.5em; align-items: center; gap: 0.5em"
    >
      <p-button
        label="Buy Now"
        severity="warning"
        (click)="purchaseItem(shopItem, shopItem.data.versions[0])"
        [disabled]="ownsProduct(shopItem.data)"
      >
      </p-button>
      <span style="font-size: large">
        ${{shopItem.data.versions[0].price}}
      </span>
    </div>
  </div>
  <div class="flex-column">
    <p-divider [align]="'left'">
      <div class="inline-flex align-items-center">
        <span style="color: var(--gray-700); font-weight: 600"> About </span>
      </div>
    </p-divider>
    <span> {{shopItem.data.description}} </span>
  </div>

  <ng-container *ngIf="template; then template else addons"></ng-container>

  <ng-template #addons>
    <div class="flex-column" style="gap: 0.5em">
      <p-divider [align]="'left'">
        <div class="inline-flex align-items-center">
          <span style="color: var(--gray-700); font-weight: 600"> Addons </span>
        </div>
      </p-divider>
      <span>
        The following addons are available to purchase. Not all addons have been
        verified and should be used with caution.
      </span>
      <div
        class="flex-row"
        style="align-items: center; gap: 0.5em; justify-content: flex-end"
      >
        <span style="font-weight: 600">Show All:</span>
        <p-inputSwitch
          [(ngModel)]="checked"
          (onChange)="filterAddons($event)"
        ></p-inputSwitch>
      </div>
      <div>
        <div
          class="flex-row"
          *ngFor="let addon of filteredAddonsList"
          style="
            margin-top: 0.5em;
            background-color: var(--purple-400);
            padding: 0.5em;
            border-radius: 5px;
            gap: 0.5em;
          "
        >
          <span
            class="flex-row"
            style="
              padding: 0.5em;
              background-color: var(--surface-0);
              color: var(--purple-400);
              border-radius: 5px;
              justify-content: center;
              align-items: center;
              flex: 0.05;
            "
          >
            <i class="fas fa-file-circle-plus"></i>
          </span>
          <div class="flex-column" style="flex: 0.75; color: var(--surface-0)">
            <div class="flex-row" style="align-items: center; gap: 0.5em">
              <span style="font-style: larger; font-weight: 600">
                {{addon.name}}
              </span>
              <span
                *ngIf="addon.flagged"
                style="color: var(--red-300)"
                pTooltip="Unofficial Addon"
                tooltipPosition="top"
              >
                <i class="fas fa-flag"></i>
              </span>
            </div>

            <span style="font-size: smaller; font-style: italic">
              {{addon.description}}
            </span>
          </div>
          <div
            class="flex-row"
            style="
              background-color: var(--surface-0);
              padding: 0.2em;
              border-radius: 5px;
              align-items: center;
              gap: 0.5em;
              flex: 0.2;
              justify-content: flex-end;
            "
          >
            <span> ${{addon.versions[0].price}}</span>
            <p-button
              label="Buy"
              severity="warning"
              [disabled]="addon.versions[0].purchased"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #empty> </ng-template>
