<div class="flex-column">
  <div
    class="flex-row"
    style="
      flex: 1;
      padding: 0.8em;
      border-bottom: 1px solid var(--surface-border);
    "
  >
    <span style="font-size: large; font-weight: 600"> Shop-A-Lot </span>
  </div>
  <div class="flex-column">
    <div class="flex-row">
      <div style="flex: 0.2">
        <p-tree
          [value]="shopItemsv2"
          selectionMode="single"
          (onNodeSelect)="displayDetail($event)"
          [style]="{'border': '0', 'padding':'0'}"
        >
          <ng-template let-node pTemplate="default">
            <div class="flex-row" *ngIf="!node.parent" style="gap: 0.5em">
              <span> {{node.label}} </span>
              <span style="font-weight: 600">
                ({{node?.children?.length}})
              </span>
            </div>
            <div *ngIf="node.parent">{{node.label}}</div>
          </ng-template>
        </p-tree>
      </div>
      <div *ngIf="selectedFile" style="flex: 0.8">
        <shop-item-detail [shopItem]="selectedFile"></shop-item-detail>
      </div>
    </div>
  </div>
</div>
