<div class="flex-column">
  <div
    class="flex-row"
    style="
      flex: 1;
      padding: 0.8em;
      border-bottom: 1px solid var(--surface-border);
    "
  >
    <span style="font-size: large; font-weight: 600"> Shop-A-Lot </span>
  </div>
  <div class="flex-column" style="padding: 0.5em">
    <span style="font-weight: 600"> Programs: </span>
    <div class="flex-column" *ngFor="let shopItem of shopItems">
      <div class="flex-row" style="align-items: center">
        <div class="flex-row" style="align-items: center; padding: 0.8em">
          <i class="fas fa-gift fa-2x"></i>
        </div>
        <div class="flex-column">
          <span> {{shopItem.name}} </span>
          <span style="font-size: smaller; color: var(--gray-500)">
            {{shopItem.description}}
          </span>
        </div>
      </div>
      <div class="flex-column" style="gap: 0.8em">
        <span style="text-decoration: underline"> Available Versions: </span>
        <div
          class="flex-row"
          style="align-items: center; gap: 0.8em"
          *ngFor="let version of shopItem.versions"
        >
          <span style="flex: 0.2"> Version: {{version.version}} </span>
          <span style="flex: 0.05; text-align: right">
            ${{version.price}}
          </span>
          <div>
            <p-button
              [rounded]="true"
              icon="fas fa-money-bill-1"
              [disabled]="version.purchased"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
