<div style="flex: 0.25"></div>
<div class="flex-column" style="align-items: center; flex: 0.5; padding: 0 25%">
  <h1>Welcome...</h1>

  <p>
    Losing my job after investing significant time and effort into a company was
    a profound blow, shaking the foundations of stability and security I had
    grown accustomed to. Despite my years of dedication and hard work,
    circumstances beyond my control led to this abrupt departure, leaving me
    grappling with a sense of loss and uncertainty about the future. Armed with
    a resume brimming with accomplishments and a track record of success, I
    embarked on the daunting task of securing a new position, confident that my
    credentials would speak volumes. However, to my dismay, the job market
    proved to be an unforgiving landscape, where even the most impressive
    qualifications seemed to fall short in the eyes of prospective employers.
    Rejections piled up, each one serving as a sobering reminder of the uphill
    battle I faced in my quest for employment.
  </p>
  <p>
    As the days turned into weeks and the weeks into months, the sense of
    frustration and anxiety mounted, casting a shadow over my once unwavering
    confidence. Despite casting a wide net and exploring various avenues, the
    elusive offer letter remained out of reach, leaving me at a loss for what to
    do next. Uncertainty gnawed at my resolve, and I found myself questioning my
    skills, my worth, and even my chosen career path. In this state of limbo,
    the road ahead appeared murky and indistinct, leaving me feeling adrift and
    unsure of which direction to turn. Desperate for a sense of purpose and
    stability, I grappled with the daunting question:
  </p>
  <p>
    <b>Where do I go from here?</b>
  </p>
  <div>
    <p-button
      [plain]="true"
      label="Begin Story..."
      (click)="createUserAccount()"
    ></p-button>
  </div>
</div>

<div style="flex: 0.25"></div>
