<div class="flex-row" style="flex-wrap: nowrap">
  <div class="flex-column" style="flex: 0.7">
    <div
      class="flex-row"
      style="
        gap: 0.5em;
        padding: 0.8em;
        background-color: var(--surface-ground);
        align-items: center;
      "
    >
      <span
        style="
          background-color: var(--text-color);
          color: var(--surface-0);
          border-radius: 6px;
          padding: 0.3em;
        "
      >
        <i class="fas fa-terminal"></i>
      </span>
      <span style="font-weight: 600; font-size: large">
        Terminal <span style="font-size: smaller">v1.0</span></span
      >
    </div>
    <div
      class="flex-row"
      style="justify-content: flex-end; padding: 0.5em; gap: 0.5em"
    >
      <p-button
        label="Scan"
        icon="fas fa-tower-cell"
        size="small"
        (click)="onScan()"
      ></p-button>
      <p-button
        label="My Computer"
        icon="fas fa-computer"
        severity="warning"
        size="small"
        (click)="openMyComputer()"
      >
      </p-button>
    </div>
    <div>
      <p-table [value]="networks">
        <ng-template pTemplate="header">
          <tr>
            <th>Network</th>
            <th>IP</th>
            <th>Security</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-network>
          <tr>
            <td>{{network.name}}</td>
            <td>{{network.ip}}</td>
            <td>{{network.security.name}}</td>
            <td>
              <p-button
                label="Connect"
                size="small"
                (onClick)="onConnect(network)"
                [disabled]="network.connected"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div
    style="
      flex: 0.3;
      height: calc(100vh - 90px);
      border-left: 1px solid var(--surface-border);
    "
  >
    <device-console></device-console>
  </div>
</div>
